@import url('https://fonts.googleapis.com/css2?family=Gabarito:wght@600&display=swap');

:root {
  --blue: rgb(96, 165, 255);
  --blueDark: rgb(43, 100, 174);
}

p,
ul,
li {
  max-width: 800px;
}

pre {
  padding: 1em;
  max-width: 1200px;
}

#site-main {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin-top: 1em;
    margin-bottom: 0.4em;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Gabarito', sans-serif;
}

.site-logo {
  width: 432px;
  max-width: 100%;
}

html,
body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  overflow-x: hidden;
}

body {
  padding: 3em;
}

body {
  border-left: 3em var(--blue) solid;
}

a:link,
a:visited {
  color: var(--blueDark);
}

.logo-link {
  position: relative;
  max-width: 100%;
}
