p {
  max-width: 800px;
}

pre {
  padding: 1em;
  max-width: 1200px;
}

#site-main > *:not(h1):not(h2):not(h3) {
  margin-left: 2em;
  margin-right: 2em;
}

#site-main {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin-top: 1em;
    margin-bottom: 0.4em;
  }
}
